html {
    background-color: white; /* Define o fundo da página como branco */
    background-image: url("/static/bg4.png"); /* Define a imagem de fundo */
    background-repeat: repeat-x; /* A imagem se repete horizontalmente */
    background-position: top left; /* A imagem é posicionada no topo e centralizada */
    overflow-y: scroll; /* Permite rolagem vertical */
}

body {
    font-family: Arial, sans-serif;
    color: #343a40;
    margin: 0;
    padding: 20px;
    height: 100%;
}

/* Adicionando um pseudo-elemento para aplicar a transparência somente ao fundo */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para garantir que o conteúdo apareça por cima */
    pointer-events: none; /* Para que o pseudo-elemento não interfira na interação com o conteúdo */
}


header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #FF8C00; /* Laranja */
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input, button, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.ball-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 140, 0, 0.5); /* Laranja com transparência */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}

.ball.selected {
    background-color: #FF8C00; /* Laranja */
    color: white;
}

#submit-button {
    background-color: #FF8C00; /* Laranja */
    color: white;
    border: none;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #e67e22; /* Laranja mais escuro */
}

#selected-numbers {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

/*--------------------------------------*/
/* Banner */
.banner {
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

/* Container de botões */
.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-primary, .btn-secondary {
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #ffa500; /* Laranja chamativo */
    color: white;
}

.btn-secondary {
    background-color: #f0f0f0;
    color: #333;
}

/* Caixas brancas com bordas arredondadas e sombras */
.white-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

/* Rodapé */
.footer {
    background-color: #ffa500;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
}

.footer {
    background-color: #FF8C00; /* Laranja */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}

.table-discret {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: left;
    color: #333;
}

.table-discret th,
.table-discret td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd; /* Bordas discretas */
}

.table-discret thead th {
    background-color: #f4f4f4; /* Cabeçalho com leve destaque */
    font-weight: bold;
    text-transform: uppercase;
}

.table-discret tbody tr {
    transition: background-color 0.3s ease; /* Transição suave */
}

.table-discret tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternância de cores entre as linhas */
}

.table-discret tbody tr:hover {
    background-color: #f1f1f1; /* Cor de destaque ao passar o mouse */
}

.table-discret a {
    color: #FF8C00; /* Links com cor azul */
    text-decoration: none;
}

.table-discret a:hover {
    text-decoration: underline;
}

.table-discret td:first-child {
    border-left: 5px solid #FF8C00; /* Destaque na primeira coluna */
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.delete-button img {
    width: 24px;
    height: 24px;
}


