<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteryBTC</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="form-container">
    <h1>Lottery BTC</h1>
</header>
<div>
    &nbsp;
</div>
<main>
    <div class="form-container">

        <form action="/placeBet" method="post">

            <label for="lottery">Escolha a Loteria:</label>
            <select id="lottery" name="lottery">
                <option value="">--- ESCOLHA QUALQUER LOTERIA DO MUNDO INTEIRO! ---</option>
                <option value="Brasil - Mega Sena">Brasil - Mega Sena</option>
                <option value="Brasil - Loto Facil">Brasil - Loto Facil</option>
                <option value="United States - Power Ball">United States - Power Ball</option>
                <option value="China - WelFare Lottery">China - WelFare Lottery</option>
            </select>

            <div id="number-balls" class="ball-container">
                <!-- As bolas serão inseridas aqui via JavaScript -->
            </div>

            <label for="wallet">Informe o Endereço Bitcoin que receberá o prêmio:</label>
            <textarea id="wallet" name="wallet" placeholder="lnbc1u1pn3nw82pp5e7usm8w...."></textarea>
            <label for="selected-numbers">Números Escolhidos:</label>
            <div id="selected-numbers"></div>
            <input type="hidden" id="numbers" name="numbers" />
            <div>&nbsp;</div>
            <button id="submit-button" class="btn-primary">Apostar</button>
        </form>
    </div>
</main>

<script src="/static/script.js"></script>
</body>
</html>
