<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery BTC - Apostas com Bitcoin</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<!-- Banner -->
<header class="banner white-box">
    <h1>Lottery BTC</h1>
</header>

<!-- Corpo da página -->
<main>
    <!-- Botões -->
    <div class="button-container">
        <a href="#como-funciona" class="btn-secondary">Como funciona?</a>
        <a href="/static/example.html" class="btn-secondary">Example Bob Loterry</a>
        <a href="/setup" class="btn-secondary">Setup</a>
        <a href="/bet" class="btn-primary">Fazer uma aposta</a>
    </div>

    <!-- Sessão 'Como funciona?' -->
    <section id="como-funciona" class="white-box">
        <h2>Como funciona?</h2>
        <p>
            Os sorteios serão realizados pela loteria de sua escolhida, não faremos sorteio de números.<br />
            Se você está jogando na MegaSena, os números serão divulgados pela MegaSena e serão apenas capturados automaticamente pelo nosso site.<br />
            O mesmo pode acontecer para qualquer outro sorteio no mundo, desde que o resultado seja divulgado em uma página na internet<br />
        </p>
    </section>

    <!-- Sessão 'O que eu ganho apostando?' -->
    <section class="white-box">
        <h2>Porque eu deveria apostar aqui?</h2>
        <p>
            Você sabia que a Loteria Federal do Brasil fica com mais de 55% do valor arrecadado com as apostas? Pois é, só de imposto de renda<br />
            são 27,5%, fora as outras contribuições 'voluntárias' que você paga, como o fundão eleitoral, fundo de 'apoio' ao esporte, etc.<br />
            Aqui serão distribuídos SEMPRE 90% do valor arrecadado. Sim, a casa sempre ganha mas nas loterias estatais elas ganham muito mais. Veja:
        </p>
        <ul>
            <li>19,13%: Fundo Nacional de Segurança Pública (FNSP).</li>
            <li>17,32%: Seguridade Social.</li>
            <li>10%: Fomento ao esporte.</li>
            <li>7,76%: Fundo Nacional da Cultura.</li>
            <li>3,14%: Cobertura de despesas de custeio e manutenção de serviços.</li>
        </ul>

    </section>

    <!-- Sessão 'Como são distribuidos os prêmios?' -->
    <section class="white-box">
        <h2>Como serão distribuidos os prêmios?</h2>
        <p>
            Os prêmios SEMPRE serão divididos entre os acertados das maiores quantidades de números para um mesmo concurso.<br />
            NÃO acumulamos prêmios. Como assim? Por exemplo: Caso nenhum apostante acerte os números 6 números da mega-sena,<br />
            o valor arrecadado será dividido igualmente para aqueles que acertarem 5 números, ou 4 números, ou nenhum número!<br />
        </p>
        <p>
            Isso mesmo! Se 100 apostadores, apostarem cerca de R$1,00 e ninguém acertar nenhum número. TODOS receberão cerca de R$0,90.<br />
            AUTOMATICAMENTE, sem intervenção humana, assim que o sistema detectar automáticamente<br />
            Nos endereços cadastrados durante o registro do jogo.<br />
        </p>
    </section>
</main>

<!-- Rodapé -->
<footer class="footer white-box">
    <p>A melhor loteria do mundo</p>
</footer>
</body>
</html>
