<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteryBTC</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="form-container">
    <h1>Lottery BTC</h1>
</header>
<div>
    &nbsp;
</div>
<main>
    <div class="form-container">
        <h2>Detalhes da Aposta</h2>

        <p><strong>Loteria Escolhida:</strong> {{ lottery }}</p>
        <p><strong>Carteira Bitcoin:</strong> {{ wallet }}</p>
        <p><strong>Números Escolhidos:</strong> {{ numbers }}</p>
        <p><strong>Total arrecadado até aqui:</strong> {{ balance }} satoshis</p>

        <h3>QR Code para Pagamento</h3>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl={{ qrcode }}" alt="QR Code de Pagamento" />

        <p><strong>Fatura:</strong></p>
        <div style="word-break: break-word; overflow-wrap: break-word;">{{ qrcode }}</div>

    </div>
</main>

<script src="/static/script.js"></script>
</body>
</html>
