<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteryBTC</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="form-container">
    <h1>Lottery BTC</h1>
</header>
<div>
    &nbsp;
</div>
<main>
    <div class="form-container">
        <h2>Detalhes da Aposta</h2>

        <input type="hidden" id="checking_id2" value="{{ checking_id }}">
        <p><strong>Loteria Escolhida:</strong> <input type="hidden" id="lottery2" value="{{ lottery }}">{{ lottery }}</p>
        <p><strong>Números Escolhidos:</strong> <input type="hidden" id="numbers2" value="{{ numbers }}">{{ numbers }}</p>
        <p><strong>Total arrecadado até aqui:</strong> {{ formatted_balance }} satoshis</p>
        <p style="word-break: break-word; overflow-wrap: break-word;"><strong>LN Adress - Endereço lightning que receberá o prêmio:</strong> <input type="hidden" id="wallet2" value="{{ wallet }}">{{ wallet }}</p>

        <br />
        <br />
        <h1 class="form-container" style="text-align: center" id="aguardandoPagamento">
            Aguardando Pagamento... <br /><br />
            <img src="/static/load.gif" width="100" height="100">
        </h1>
        <br />
        <br />

        <div style="text-align: center" id="divQrCode">
            <h3>QRCode para pagamento da Aposta:</h3>
            <img src="{{ qr_code_base64 }}" alt="QR Code de Pagamento" />
            {# <img src="/static/qrcodeFAKE.jpg" alt="QR Code de Pagamento" /> #}

            <p><strong>Fatura para pagamento da Aposta:</strong></p>
            <div style="word-break: break-word; overflow-wrap: break-word;">{{ qrcode }}</div>
            {# <div style="word-break: break-word; overflow-wrap: break-word;">paulocandango15faf7a1@zbd.gg</div> #}
        </div>



    </div>
</main>

<script src="/static/script.js"></script>


<script>
    const checking_id = "{{checking_id}}";
    {# const checking_id = "fba527992b3ca144c72b460b4b6a1a10c00e9a75bd4d23c7b6672c565f7f615c"; #}
    // Captura os valores do HTML
    const lottery2 = document.getElementById("lottery2").value;
    const wallet2 = document.getElementById("wallet2").value;
    const numbers2 = document.getElementById("numbers2").value;
    const checking_id2 = document.getElementById("checking_id2").value;

    // Variável para armazenar o ID do intervalo
    let intervalId;

    async function validatePayment() {
        try {
            // Monta a URL com os parâmetros na query string
            const url = `/validatePayment?checking_id=${encodeURIComponent(checking_id)}&lottery=${encodeURIComponent(lottery2)}&wallet=${encodeURIComponent(wallet2)}&numbers=${encodeURIComponent(numbers2)}`;

            // Faz a requisição para o backend
            const response = await fetch(url, { method: 'GET' });

            if (response.ok) {
                const message = await response.text(); // Lê a resposta como texto

                if (message === "Pagamento Confirmado") {
                    // Para o intervalo de execução da função
                    clearInterval(intervalId);

                    // Altera o conteúdo do elemento h1
                    const h1Element = document.getElementById("aguardandoPagamento");
                    if (h1Element) {
                        h1Element.innerHTML = "PAGAMENTO CONFIRMADO";
                    }
                    const divQrCode = document.getElementById("divQrCode");
                    if (divQrCode) {
                        divQrCode.remove();
                    }



                    alert(message); // Exibe o alerta
                }
            } else {
                alert(message); // Exibe o alerta
                console.error('Erro ao validar pagamento:', response.statusText);
            }
        } catch (error) {
            console.error('Erro de conexão:', error);
        }
    }

    // Executa a função a cada 10 segundos e armazena o ID do intervalo
    intervalId = setInterval(validatePayment, 10000);
</script>



</body>
</html>
