<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteryBTC</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="form-container">
    <h1>Lottery BTC</h1>
</header>
<div>
    &nbsp;
</div>
<main>
    <div class="form-container">
        <h2>Detalhes da Aposta</h2>

        <p><strong>Loteria Escolhida:</strong> {{ lottery }}</p>
        <p><strong>Carteira Bitcoin:</strong> {{ wallet }}</p>
        <p><strong>Números Escolhidos:</strong> {{ numbers }}</p>
        {# <p><strong>Total arrecadado até aqui:</strong> {{ formatted_balance }} satoshis</p> #}

        <h1 class="form-container" style="text-align: center">
            Aguardando Pagamento... <br /><br />
            <img src="/static/load.gif">
        </h1>

        <h3>QR Code para Pagamento</h3>
        {# <img src="{{ qr_code_base64 }}" alt="QR Code de Pagamento" /> #}
        <img src="/static/qrcodeFAKE.jpg" alt="QR Code de Pagamento" />

        <p><strong>Fatura:</strong></p>
        {# <div style="word-break: break-word; overflow-wrap: break-word;">{{ qrcode }}</div> #}
        <div style="word-break: break-word; overflow-wrap: break-word;">lnbc5u1pn3jzhwsp558rn9zhz26dscvg56xxgjqk9a3vhj84syvlletshr3etnc9e2despp5q7qa8gjdd9jsc5w89hrfxp3dpkvp8539cnjllaylah3epyxsdxgqdqug9cx7um5vysycmm5w3jhy72z23pscqpjrzjq2ucdwlw3myns2gfugeyk3hetpwjx69njqme3ewnwurt45wv9n6x6rx9mcqqfpsqqyqqqqqqqqqqqqqq2q9qxpqysgqjqvt59se40xh6s4x620587tszdynsk2vh0g6cjt07slz5zr7n4w42shu965ns9gs487gyltv020e9x2ljc0zqnwdp7xamcsl6w76qmcqv738dd</div>



    </div>
</main>

<script src="/static/script.js"></script>
</body>
</html>
