<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteryBTC</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="form-container" style="max-width: 90%">
    <h1>Lottery BTC</h1>
</header>
<div>
    &nbsp;
</div>
<main>
    <div class="form-container" style="max-width: 90%">
        <table class="table-discret">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome da Loteria</th>
                <th>URL dos Resultados</th>
                <th>Seletor do Concurso</th>
                <th>Seletor dos Números Sorteados</th>
                <th>Ações</th> <!-- Coluna para as ações -->
            </tr>
            </thead>
            <tbody>
            {% for lottery in lottery_data %}
            <tr>
                <td>{{ lottery.0 }}</td>
                <td>{{ lottery.1 }}</td>
                <td>{{ lottery.2 }}</td>
                <td>{{ lottery.3 }}</td>
                <td>{{ lottery.4 }}</td>
                <td>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id_lottery" value="{{ lottery.0 }}">
                        <button type="submit" class="delete-button">
                            <img src="/static/trash.png" alt="Deletar" style="width:24px;">
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Caso haja algum erro de banco de dados -->
        {% if db_error %}
        <p class="error">Erro ao buscar os dados: {{ db_error }}</p>
        {% endif %}

        <div>&nbsp;</div>

        <!-- Botão Criar Novo alinhado à direita -->
        <div class="form-container" style="max-width: 90%; text-align: right; margin-top: 20px;">
            <a href="/" class="btn-secondary">Voltar</a>
            <a href="/createsetup" class="btn-primary">Criar Novo</a>
        </div>

    </div>
</main>

<script src="/static/script.js"></script>
</body>
</html>
