<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteryBTC</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header class="form-container">
    <h1>LotteryBTC</h1>
</header>
<div>
    &nbsp;
</div>
<main>
    <div class="form-container">
        Pesquisar
        Alterar
        Criar Novo
        Excluir
    </div>
</main>

<script src="/static/script.js"></script>
</body>
</html>
